.center {
    text-align: center;
}
h1 {
    color:blueviolet
}
h2{
    color:blue;
}



a {
    color: green;
    text-decoration:none;
    font-family:cursive;
}
a:visited{
   
    color:red;
    }



