.center {
    text-align: center;
}

.friend2{
position: absolute;
bottom: 0;
right: 0;
}

h1 {
    color:blueviolet
}
h2{
    color:blue;
}
h2.about{
    color:green;
    font-family:sans-serif;
}



a {
    color: green;
    text-decoration:none;
    font-family:cursive;
}
a:visited{
   
    color:red;
    }



